@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900");

body,
html {
    font-family: "Lato", sans-serif;
}

.header-box {
    position: fixed;
    background: #5c1ef9;
    padding: 10px 0;
    z-index: 1300;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.demo_site-nav {
    color: #fff;
    width: 100%;
}

.demo_navbar {
    background: #4e04ec !important;
}

.demo_navbar-brand {
    font-weight: bold;
}

.demo_navbar-nav > .nav-item {
    & > a {
        font-size: 18px !important;
        margin-bottom: 12px;
    }

    &:hover a {
        border-bottom: 2px solid #fff;
    }
}

.demo_banner {
    background: #5c1ef9;
    display: flex;
    height: 550px;
    padding-top: 180px;
    align-items: center;
    overflow: hidden;
}

.demo_banner-image-left img {
    max-height: 85%;
    display: block;
}

.demo_banner-text-right {
    padding: 15px 10px;
    color: #ffffff;
    text-align: center;

    h2 {
        margin: auto;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 50px;
    }

    p {
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 29px;
    }
}

.demo_listing-title {
    padding: 20px 10px;
    margin-top: 10px;
    display: block;
    width: 100%;

    h2 {
        text-align: center;
        color: #4607ce;
        font-size: 2.5em;
        font-weight: 600;
        margin: 20px 0 50px 0;
        line-height: 40px;
        letter-spacing: 0;
        position: relative;
        padding-bottom: 15px;

        &:before {
            position: absolute;
            content: "";
            bottom: 0;
            height: 2px;
            background-color: #4607ce;
            left: calc(50% - 65px);
            width: 130px;
        }

        &:after {
            position: absolute;
            content: "";
            bottom: -3px;
            height: 8px;
            width: 8px;
            background-color: #4607ce;
            left: calc(50% - 4px);
            transform: rotate(45deg);
        }
    }
}

/* Products Listings **/

.demo_listings {
    margin-bottom: 50px;

    .tab-content > .active {
        display: flex; /* override the default Bootstrap behaviour */
    }
}

.demo_list,
.demo_product {
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.1);

    &-container {
        margin: 0 auto;
    }

    &-image img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
        max-height: 150px;
    }

    &-content {
        text-align: justify;

        h6 {
            padding: 16px 12px 0 12px;
            font-size: 19px;
            font-weight: 700;
            color: #3d3d3d;
        }

        p {
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0;
            color: #323232;
            margin: 0;
            padding: 0 12px;
        }
    }

    &-price {
        color: #3d3d3d;
        opacity: 0.9;
        font-size: 15px;
    }

    &-buttons,
    &-my-ratings {
        position: relative;
    }

    &-rating-info,
    &-rating-info2 {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 0px;
        color: #c1c9c1c1;
        margin-bottom: 12px;
        font-size: 11px;
    }

    &-rating-info i,
    &-rating-info2 i {
        font-size: 14px;
        margin-left: 0px;
        cursor: pointer;
        margin-top: 2px;
        z-index: -55;
    }

    &-rating-info i:hover,
    &-rating-info2 i:hover {
        color: #fcbd20;
    }

    &-buttons label,
    &-buttons label i,
    &-my-ratings label,
    &-my-ratings label i {
        font-size: 12px;
        color: #007bff;
        text-align: center;
        opacity: 0.8;
        font-weight: 500;
        display: block;
    }

    .demo_list-add-cart {
        display: flex; 
        justify-content: space-between;
    }
}

.demo_rating-rated {
    color: #fcbd20;
}

/** Product's Detail **/

.demo_shopping-product-wrapper {
    margin: 100px 0;
}

.demo_product {
    box-shadow: none;

    &-image img {
        max-height: 250px;
    }
}

/** Bottom Ad for homepage **/

.demo_bottom-ad {
    margin: 90px auto 0;
    padding: 90px 0;
    text-align: center;
    color: #ffffff;
    background-color: #4607ce;

    h2 {
        font-weight: 600;
    }

    h5 {
        font-weight: 500;
    }

    p {
        margin-top: 40px;
    }
}

/** Shopping Cart **/

.demo_shopping-cart-wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
}

.demo_cart-table {
    thead {
        background-color: #4607ce;
        color: #fff;
        text-align: center;
    }

    tr {
        td {
            padding: 30px 10px 30px;
            text-align: center;

            .demo_cart-qty-wrapper {
                margin: auto;
                max-width: 150px;
            }
            
            input {
                display: inline-block;
                padding: 0.375rem 0.75rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #495057;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
            }
        }

        th img {
            width: 45px;
            height: 45px;
            display: block;
            margin: auto;
        }
    }
}

.demo_cart-remove {
    cursor: pointer;
}

.demo_list-cart-empty,
.demo_checkout-message {
    padding: 30px;
    text-align: center;
    margin: 100px auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

.demo_checkout-message {
    margin: 20px auto;
    min-height: 300px;
    padding-top: 50px;
    font-size: 20px;
    color: #495057;

    i {
        font-size: 57px;
        display: block;
        margin: 20px auto;
        color: green;
    }
}

.demo_cart-summary {
    margin-top: 25px;

    span {
        font-size: 22px;
        color: #495057;
        font-weight: 600;
    }
}

/** For the Modal Area **/

#demo_modal .modal-body {
    text-align: center;
    padding: 15px;
    font-size: 20px;

    span,
    label {
        display: block;
        padding: 10px;
        clear: both;
    }

    label i.fa-check {
        font-size: 24px;
        display: block;
        clear: both;
    }
}

/** Footer **/

footer {
    padding: 15px;
    text-align: center;
    color: #d8d7d7;
    background-color: #272727;
}

/**** RESPONSIVE STYLESHEET *****/

@media (max-width: 576px) {
    .demo_banner {
        height: auto;
    }
}

@media (min-width: 768px) {
    .demo_navbar-nav > .nav-item:first-child {
        margin-left: 22px;
    }

    .demo_banner-text-right {
        margin-top: 160px;
    }

    .demo_banner-text-right h2 {
        font-size: 49px;
    }
}