@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900");
body,
html {
  font-family: "Lato", sans-serif;
}

.header-box {
  position: fixed;
  background: #5c1ef9;
  padding: 10px 0;
  z-index: 1300;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.demo_site-nav {
  color: #fff;
  width: 100%;
}

.demo_navbar {
  background: #4e04ec !important;
}

.demo_navbar-brand {
  font-weight: bold;
}

.demo_navbar-nav > .nav-item > a {
  font-size: 18px !important;
  margin-bottom: 12px;
}
.demo_navbar-nav > .nav-item:hover a {
  border-bottom: 2px solid #fff;
}

.demo_banner {
  background: #5c1ef9;
  display: flex;
  height: 550px;
  padding-top: 180px;
  align-items: center;
  overflow: hidden;
}

.demo_banner-image-left img {
  max-height: 85%;
  display: block;
}

.demo_banner-text-right {
  padding: 15px 10px;
  color: #ffffff;
  text-align: center;
}
.demo_banner-text-right h2 {
  margin: auto;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 50px;
}
.demo_banner-text-right p {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 29px;
}

.demo_listing-title {
  padding: 20px 10px;
  margin-top: 10px;
  display: block;
  width: 100%;
}
.demo_listing-title h2 {
  text-align: center;
  color: #4607ce;
  font-size: 2.5em;
  font-weight: 600;
  margin: 20px 0 50px 0;
  line-height: 40px;
  letter-spacing: 0;
  position: relative;
  padding-bottom: 15px;
}
.demo_listing-title h2:before {
  position: absolute;
  content: "";
  bottom: 0;
  height: 2px;
  background-color: #4607ce;
  left: calc(50% - 65px);
  width: 130px;
}
.demo_listing-title h2:after {
  position: absolute;
  content: "";
  bottom: -3px;
  height: 8px;
  width: 8px;
  background-color: #4607ce;
  left: calc(50% - 4px);
  transform: rotate(45deg);
}

/* Products Listings **/
.demo_listings {
  margin-bottom: 50px;
}
.demo_listings .tab-content > .active {
  display: flex;
  /* override the default Bootstrap behaviour */
}

.demo_list,
.demo_product {
  padding: 10px;
  margin-top: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}
.demo_list-container,
.demo_product-container {
  margin: 0 auto;
}
.demo_list-image img,
.demo_product-image img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: 150px;
}
.demo_list-content,
.demo_product-content {
  text-align: justify;
}
.demo_list-content h6,
.demo_product-content h6 {
  padding: 16px 12px 0 12px;
  font-size: 19px;
  font-weight: 700;
  color: #3d3d3d;
}
.demo_list-content p,
.demo_product-content p {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0;
  color: #323232;
  margin: 0;
  padding: 0 12px;
}
.demo_list-price,
.demo_product-price {
  color: #3d3d3d;
  opacity: 0.9;
  font-size: 15px;
}
.demo_list-buttons, .demo_list-my-ratings,
.demo_product-buttons,
.demo_product-my-ratings {
  position: relative;
}
.demo_list-rating-info, .demo_list-rating-info2,
.demo_product-rating-info,
.demo_product-rating-info2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 0px;
  color: rgba(193, 201, 193, 0.7568627451);
  margin-bottom: 12px;
  font-size: 11px;
}
.demo_list-rating-info i, .demo_list-rating-info2 i,
.demo_product-rating-info i,
.demo_product-rating-info2 i {
  font-size: 14px;
  margin-left: 0px;
  cursor: pointer;
  margin-top: 2px;
  z-index: -55;
}
.demo_list-rating-info i:hover, .demo_list-rating-info2 i:hover,
.demo_product-rating-info i:hover,
.demo_product-rating-info2 i:hover {
  color: #fcbd20;
}
.demo_list-buttons label, .demo_list-buttons label i, .demo_list-my-ratings label, .demo_list-my-ratings label i,
.demo_product-buttons label,
.demo_product-buttons label i,
.demo_product-my-ratings label,
.demo_product-my-ratings label i {
  font-size: 12px;
  color: #007bff;
  text-align: center;
  opacity: 0.8;
  font-weight: 500;
  display: block;
}
.demo_list .demo_list-add-cart,
.demo_product .demo_list-add-cart {
  display: flex;
  justify-content: space-between;
}

.demo_rating-rated {
  color: #fcbd20;
}

/** Product's Detail **/
.demo_shopping-product-wrapper {
  margin: 100px 0;
}

.demo_product {
  box-shadow: none;
}
.demo_product-image img {
  max-height: 250px;
}

/** Bottom Ad for homepage **/
.demo_bottom-ad {
  margin: 90px auto 0;
  padding: 90px 0;
  text-align: center;
  color: #ffffff;
  background-color: #4607ce;
}
.demo_bottom-ad h2 {
  font-weight: 600;
}
.demo_bottom-ad h5 {
  font-weight: 500;
}
.demo_bottom-ad p {
  margin-top: 40px;
}

/** Shopping Cart **/
.demo_shopping-cart-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
}

.demo_cart-table thead {
  background-color: #4607ce;
  color: #fff;
  text-align: center;
}
.demo_cart-table tr td {
  padding: 30px 10px 30px;
  text-align: center;
}
.demo_cart-table tr td .demo_cart-qty-wrapper {
  margin: auto;
  max-width: 150px;
}
.demo_cart-table tr td input {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.demo_cart-table tr th img {
  width: 45px;
  height: 45px;
  display: block;
  margin: auto;
}

.demo_cart-remove {
  cursor: pointer;
}

.demo_list-cart-empty,
.demo_checkout-message {
  padding: 30px;
  text-align: center;
  margin: 100px auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

.demo_checkout-message {
  margin: 20px auto;
  min-height: 300px;
  padding-top: 50px;
  font-size: 20px;
  color: #495057;
}
.demo_checkout-message i {
  font-size: 57px;
  display: block;
  margin: 20px auto;
  color: green;
}

/** Step Wizard **/
.stepwizard {
  width: 100%;
  margin-bottom: 20px;
}
.stepwizard .stepwizard-row {
  display: flex;
  flex-wrap: wrap;
}
.stepwizard .stepwizard-row:before {
  position: absolute;
  top: 14px;
  bottom: 0;
  content: " ";
  width: calc(100% - 30px);
  height: 1px;
  background-color: #ccc;
  z-index: 0;
}
.stepwizard .stepwizard-row .stepwizard-step {
  flex-grow: 1;
  text-align: center;
  z-index: 1;
}
.stepwizard .stepwizard-row .stepwizard-step p {
  margin-top: 0px;
  color: #666;
}
.stepwizard .btn.disabled,
.stepwizard .btn[disabled],
.stepwizard fieldset[disabled] .btn {
  opacity: 1 !important;
  color: #bbb;
}
.stepwizard .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 18px;
  border-radius: 15px;
}

/** Summary **/
.lh-condensed {
  line-height: 1.25em;
}

.demo_cart-summary .demo_cart-summary-product h6 {
  font-weight: bold;
}
.demo_cart-summary .demo_cart-summary-product small {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 100%;
  overflow: hidden;
}
.demo_cart-summary .demo_cart-summary-shipping-type:empty,
.demo_cart-summary .demo_cart-summary-promo-code:empty {
  display: none !important;
}

.setup-content ~ .setup-content {
  display: none;
}

/** For the Modal Area **/
#demo_modal .modal-body {
  text-align: center;
  padding: 15px;
  font-size: 20px;
}
#demo_modal .modal-body span,
#demo_modal .modal-body label {
  display: block;
  padding: 10px;
  clear: both;
}
#demo_modal .modal-body label i.fa-check {
  font-size: 24px;
  display: block;
  clear: both;
}

/** Footer **/
footer {
  padding: 15px;
  text-align: center;
  color: #d8d7d7;
  background-color: #272727;
}

/**** RESPONSIVE STYLESHEET *****/
@media (max-width: 576px) {
  .demo_banner {
    height: auto;
  }
}
@media (min-width: 768px) {
  .demo_navbar-nav > .nav-item:first-child {
    margin-left: 22px;
  }

  .demo_banner-text-right {
    margin-top: 160px;
  }

  .demo_banner-text-right h2 {
    font-size: 49px;
  }
}